@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --container: 144rem;
    --m-auto: 0 auto;
    --white: #fff;
    --primary: #8a1538;
    --secondary: #eeeee4;
    --gr-1: rgba(138, 21, 56, 0.607);
    --gr-2: rgba(138, 21, 56, 0.665);
    --nav: rgba(225, 225, 225, 0.045);
    --mobile-nav: #7d3e59;
    --count-down-bg: rgba(238, 235, 235, 0.295);
    --timer-before-bg: rgb(218, 201, 109);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    font-size: 1.6rem;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: var(--container);
    padding: 0 2rem;
    margin: var(--m-auto);
}

#hero {
    background: linear-gradient(var(--gr-1), var(--gr-2)), url(images/hero-image.png) no-repeat center center / cover;
}

.header {
    background: var(--nav);
    backdrop-filter: blur(10px);
}

.navigation {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo .logo-img {
    width: 17rem;
}

.mobile-menu-icon {
    display: none;
    cursor: pointer;
}

.mobile-menu-icon .menu_icon {
    font-size: 5rem;
    color: var(--white);
}

.nav_list {
    display: inline-block;
    margin: 0 1rem;
}

.nav_link {
    font-size: 1.6rem;
    color: var(--white);
}

.nav_link.active {
    position: relative;
}

.nav_link.active::before {
    position: absolute;
    content: '';
    left: 50%;
    transform: rotate(45deg) translateX(-50%);
    bottom: -1.5rem;
    width: 0.7rem;
    height: 0.7rem;
    background: var(--secondary);
}

.btn-nav {
    margin-left: 5rem;
}

.btn-outline,
.btn-primary {
    padding: 0.6rem 2rem;
    border: 0.2rem solid var(--secondary);
    color: var(--white);
    font-weight: 500;
    border-radius: 3rem;
    transition: all 0.5s ease-in;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}

.btn-outline ion-icon,
.btn-primary ion-icon {
    font-size: 2.7rem;
    --ionicon-stroke-width: 4.4rem;
}

.btn-outline:hover,
.btn-primary:hover {
    border-color: var(--secondary);
    color: var(--primary);
    background: var(--secondary);
    transition: all 0.5s ease-in;
}

.hero-main-container {
    padding: 5rem 0;
}

.hero-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: center;
}

.hero-image {
    text-align: center;
}

.hero-img {
    max-width: 45rem;
}

.section-heading {
    font-size: 5rem;
    line-height: 6rem;
    color: var(--secondary);
    margin-left: 0px;
    margin-top: 0px;
}

.paragraph {
    font-size: 1.6rem;
    color: var(--white);
    margin: 3rem 0;
    margin-left: 0px;
}

.worldcup-count-down {
    max-width: 45rem;
    margin: 5rem 0 0 0;
    border-radius: 1rem;
    background: var(--count-down-bg);
    backdrop-filter: blur(10px);
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.count {
    position: relative;
    text-align: center;
}

.count:not(:first-child)::before {
    position: absolute;
    content: '';
    left: -1rem;
    top: 50%;
    width: 0.5rem;
    height: 0.5rem;
    transform: rotate(45deg) translateY(-50%);
    background: var(--timer-before-bg);
}

.count h3 {
    font-size: 2.5rem;
    color: var(--white);
}

.count .count-time {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--secondary);
}

.running {
    grid-column: 1 / 3;
    color: var(--secondary);
}

@media (max-width: 904px) {
    .mobile-menu-icon {
        display: block;
    }
    .nav_menu {
        position: absolute;
        visibility: hidden;
        clip-path: circle(0% at 96% -20%);
        top: 4rem;
        left: 0;
        width: 100%;
        padding: 6rem 0;
        background: var(--mobile-nav);
    }
    .hero-img {
        width: 100%;
    }
    .section-heading {
        font-size: 5rem;
        line-height: 6rem;
        color: var(--secondary);

    }
    
    .paragraph {
        font-size: 1.6rem;
        color: var(--white);
        margin: 3rem 0;

    }
    .se {
        width: 300px;
        height: 20px;

    }

}

@media (max-width: 430px) {
    .nav_menu {
        position: absolute;
        visibility: hidden;
        clip-path: circle(0% at 96% -20%);
        top: 4rem;
        left: 0;
        width: 100%;
        padding: 6rem 0;
        background: var(--mobile-nav);
    }
    .nav_menu.active {
        visibility: visible;
        clip-path: circle(150% at 100% 100%);
        transition: all 0.7s ease-in-out;
        font-size: 20px;
    }
    .nav_list {
        display: block;
        text-align: center;
        margin: 3rem 0;
    }
    .hero-img {
        width: 100%;
    }
    .section-heading {
        font-size: 5rem;
        line-height: 6rem;
        color: var(--secondary);

    }
    
    .paragraph {
        font-size: 1.6rem;
        color: var(--white);
        margin: 3rem 0;

    }
    .se {
        width: 300px;
        height: 20px;

    }
}

@media (max-width: 800px) {
    .hero-image {
        grid-row: 1;
    }
    .hero-img {
        grid-row: 1;
        max-width: 30rem;
    }
    .section-heading {
        font-size: 4rem;
        line-height: 6rem;
        color: var(--secondary);
    }
    
    .paragraph {
        font-size: 1.6rem;
        color: var(--white);
        margin: 3rem 0;
    }
    .se {
        width: 300px;
        height: 20px;
    }
}


.standings-heading {
    padding-top: 2rem;
    font-size: 4rem;
}

.loader {
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.points-container {
    padding: 3rem 0 5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.points-table {
    box-shadow: 0 0 0.5rem 0.2rem var(--secondary);
    border-radius: 0.5rem;
}

.group-heading {
    padding: 0.5rem 0;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary);
    background: #7f1533;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.points-table table {
    width: 100%;
    border-collapse: collapse;
}

.points-table table thead tr {
    text-align: left;
    background: #500f21;
}

.points-table table thead tr th {
    padding: 1rem;
    color: var(--secondary);
}

.points-table table tbody tr:not(:last-child) {
    border-bottom: 0.02rem solid rgba(118, 114, 115, 0.447);
}


.points-table table tbody tr td {
    padding: 0.7rem 0;
    text-align: center;
    background: #e1e7f1;
    font-weight: bold;
}

.team-flag {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
    box-shadow: 0 0 0.5rem rgb(143, 112, 112);
}

.d-a {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.points-table table tbody tr .oo{
    visibility: hidden;

}
.points-table table thead tr th {
    width: 100%;
}
.searchbar{
    width: 100%;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.searchBar{
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
.searchBar:hover input{
    width: 400px;
}
.se {
    width: 0px;
    outline: none;
    border: none;
    font-weight: 500px;
    transition: 0.8s;
    background: transparent;
    margin-left: 0px;
}
.fa-circle{
    color: orangered;
    margin-top: 10px;
}

input{
    border: none;
    outline: none;
    background: none;
}
.sidebody{
    margin-left: 80px;
}
#root{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.box{
    margin: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 15px;
}
.img-box{
    width: 100%;
    height: 176px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images{
    max-height: 90%;
    max-width: 90%;
    object-fit: cover;
    object-position: center;
}
.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}
h2{
    font-size: 20px;
    color: orangered;
}
button{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: #333;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color: rgba(138, 21, 56, 0.607);
}
::-webkit-scrollbar{
    display: none;
}

